<div ng-app='app.exampleApp' ng-controller='RacesCtrl'>

  <form ng-submit="addRace()">
    Title:<input type="text" ng-model="race.title"/>
    Start At:<input type="date" ng-model="race.start_at"/>
    End At:<<input type="date" ng-model="race.end_at"/>
    <button type="submit">Send</button>
  </form>

  <table>
    <tr>
      <th>Title</th>
      <th>Votes</th>
    </tr>

    <tr ng-repeat="race in races">
      <td>{{race.title}}</td>
      <td>{{race.vote_count}}</td>
    </tr>
  </table>


</div>
