<div ng-app='app.exampleApp' ng-controller='RacesCtrl'>
  <div class="eight-wide centered">

  <table>
    <tr>
      <th>Title</th>
      <th>Votes</th>
      <th>Time Remaining</th
    </tr>

    <tr ng-repeat="race in races">
      <td class="title">{{race.title}}</td>
      <td>{{race.vote_count}}</td>
      <td>{{race.time_remaining}}</td>
    </tr>
  </table>


  <form ng-submit="addRace()">
    Title:<input type="text" ng-model="race.title"/>
    Start At:<input type="date" ng-model="race.start_at"/>
    End At:<input type="date" ng-model="race.end_at"/>
    <button type="submit">Send</button>
  </form>

  </div>

</div>
